.details {
  width: calc(100% - 300px);
  display: flex;
  flex-direction: column;

  &__main {
    flex: 1 0 auto;
  }

  &__exercises {
    padding: 0 10px;
  }

  &__addexercise {
    .icon {
      margin-right: 10px;
    }
  }

  &__addexercise, &__save {
    display: flex;
    justify-content: center;
    margin: 20px auto;
  }
}
