.details {
  width: calc(100% - 300px);
  display: flex;
  flex-direction: column;

  &__header, &__footer {
    width: 100%;

  }

  &__footer {
    flex-shrink: 0;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 10px;

    border: 1px solid #000;
    border-left: none;
  }

  &__info {
    height: 48px;
    display: block;
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    font-weight: 500;
    line-height: 48px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &__main {
    flex: 1 0 auto;
  }

  &__exercises {
    padding: 0 10px;
  }

  &__exercise {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 20px;

    border: 1px solid #ced4da;
    border-radius: 10px;
    padding: 5px;

    // max-height: 68px;
  }

  &__select {
    border: none;
    border-radius: 10px;

    height: 20px;

    max-width: 100px;

    align-self: stretch;

    height: 100%;

    max-height: 56px;
    padding: 5px;
    line-height: 1;

    word-wrap: break-word;
  }

  &__container {
    display: flex;
    overflow: auto;

    flex-grow: 1;
  }

  &__sets {
    display: flex;
    justify-content: space-around;
    align-items: center;


  }

  &__set {
    display: flex;
    flex-flow: row;

    position: relative;

    margin-right: 10px;

    min-width: 112.75px;

    &:hover &__remove {
      opacity: 1;
      visibility: visible;
    }

    &__num {
      border: 1px solid #ced4da;
      border-radius: .25rem;

      padding: 5px;
      display: flex;
      align-items: center;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &__remove {
      border: 1px solid #ced4da;
      border-radius: .25rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

    }

    &__btn {
      // position: absolute;
      // left: calc(100% - 20px);
      // top: 0;

      width: 20px;
      height: 100%;

      font-size: 20px;
      line-height: 20px;

      border: 0;

      // opacity: 0;
      // visibility: hidden;

      transition: opacity .3s ease-out;
    }
  }
  &__values {
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;

    padding: 5px;

    display: flex;
    flex-direction: column;
  }

  &__weight, &__reps {

    input {
      display: inline;
      width: 30px;
    }
  }

  &__weight {
    // padding-top: 10px;
    // padding-bottom: 5px;
    transform: translateY(1px);
  }

  &__reps {
    // padding-bottom: 10px;
    // padding-top: 5px;

  }

  &__addset {
    display: flex;
    width: 48px;
    min-height: 56px;


    button {
      width: 100%;
      font-size: 18px;
    }
  }

  &__close {
    display: flex;
    width: 48px;
    align-self: stretch;

    button {
      font-size: 11px;
      width: 100%;
      height: 100%
    }
  }

  &__addexercise, &__save {
    text-align: center;
    margin-top: 15px;

    button {
      font-size: 20px;
      padding: 10px 15px;
    }
  }

  &__note {
    margin: 20px auto ;
    width: 60%;
    textarea {
      width: 100%;
    }
  }

  &__save {

  }
}
