.diary {
  width: calc(100% - var(--navbar-width));
  margin: 0 auto;

  &__info {

    border-top: 1px solid var(--overlay-bg-color);

    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));

    div {
      padding: 7px;
    }
  }

  .info__note {
    grid-area: 3 / 1 / span 1 / -1;
  }

  &__exercises {
    max-width: max-content;
    margin: 0 auto;

    border: 1px solid var(--overlay-bg-color);
  }

  .row {
    width: 100%;

    display: flex;
    justify-content: flex-start;

    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

    &:hover {
      background-color: var(--hover-bg-color);
    }
  }

  &__header {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: repeat(2, 1fr);

    border-bottom: 1px solid var(--overlay-bg-color);

  }

  .header__item {
    padding: 7px;
    flex-basis: 150px;

    font-size: 18px;
    font-weight: 600;

    &--ex {
      grid-row: 1 / span 2;
      border-right: 1px solid var(--overlay-bg-color);

      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--set {
      display: flex;
      justify-content: center;

      flex-basis: 100px;
      flex-grow: 1;

      border-bottom: 1px solid var(--overlay-bg-color);
    }
  }

  .setcount {
    display: flex;
    grid-column: 2 /-1;

    div {
      flex-basis: 100px;
      padding: 7px;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .name, .setdata {
    padding: 7px;
     width: 100%;
  }
  .name {
    justify-content: flex-start;
    border-right: 1px solid var(--overlay-bg-color);
    line-height: 1;
    flex: 0 1 150px;
  }

  .setdata{
    display: flex;
    align-items: center;

    flex: 0 1 100px;
  }
}
