.todo {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 20px;
  max-width: 500px;

  color: var(--text-link-color);

  &__title {
    text-align: center;
    padding: 10px;
  }
  &__list {
    list-style-type: none;
  }

  &__item {
    border: 1px solid var(--overlay-bg-color);
    border-radius: 10px;

    padding: 10px;
    margin-bottom: -1px;
  }
}
