.progress {
  width: calc(100% - 300px);
  min-height: 100vh;
  padding: 0 10px;

  &__title {
    text-align: center;
  }

  &__filter {
    margin-bottom: 10px;

    .filter__item {
      display: flex;
    }
  }

  &__label {
    margin-right: 10px;

  }

  &__input {
    cursor: pointer;
    background: transparent;
    color: var(--text-color);
    border: 1px solid var(--overlay-bg-color);

    &:focus {
      outline-offset: -1px;
      outline: 1px solid var(--text-color);
    }
    &::-webkit-calendar-picker-indicator {
      background-color: white;
    }
  }

  #progress__month {

  }

  #progress__exercise {
  }

  &__chart {
    width: 80%;
    height: 500px;
  }

  .recharts-default-tooltip {
    background-color: var(--navbar-bg-color) !important;
    border: 1px solid var(--overlay-bg-color) !important;
  }

  .recharts-label,
  .recharts-legend-item-text {
    fill: var(--text-color);
    color: var(--text-color);
  }
}
