.progress {
  width: calc(100% - 300px);
  min-height: 100vh;
  padding: 0 10px;

  &__title {
    text-align: center;
  }

  &__filter {
    margin-bottom: 10px;

    .filter__item {
      display: flex;
      align-items: center;
    }
  }

  &__label {
    margin-right: 10px;

  }

  &__input {
    padding: .5em;

    border-radius: 3px;

    background: var(--navbar-bg-color);
    color: var(--text-color);

    &:focus {
      outline-offset: -1px;
      outline: 1px solid var(--text-color);
    }
    &::-webkit-calendar-picker-indicator {
      background-color: white;
    }
  }

  #progress__month {

  }

  #progress__exercise {
  }

  &__chart {
    width: 100%;
    position: relative;
  }

  .pie {
    width: 100%;
    height: auto;
    min-height: fit-content;
  }



  .recharts-default-tooltip {
    background-color: var(--navbar-bg-color) !important;
    border: 1px solid var(--overlay-bg-color) !important;
  }

  .recharts-label {
    fill: var(--text-link-color);
  }
  .recharts-layer {
    fill: var(--text-link-color);
  }
  .recharts-legend-item-text {
    color: var(--text-link-color);
  }

  .recharts-cartesian-grid {
    line {
      stroke: var(--overlay-bg-color);
    }
  }

  .recharts-cartesian-axis-line {
    stroke: var(--text-link-color);
  }
}
