.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.muscles{
  min-width: 500px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid pink;

  padding: 15px;

  background-color: white;

  &__types {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;

    label {
      display: flex;
      align-items: center;

      input {
        margin-right: 10px;
        transform: translateY(2px);
      }

      span {
        border: 1px solid #000;
      }
    }


  }

  &__exercises {
    align-self: start;
    flex-grow: 1;

    ol {
      padding-left: 25px;
      list-style-type: decimal;
    }

    li {
      cursor: pointer;

      &:hover {
        background-color: #eee;
      }
    }
  }
}
