.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.muscles{
  min-width: 500px;

  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px;

  background-color: white;

  &__types {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    margin-right: 10px;

    label {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 5px 10px;
      line-height: 1;

      &:hover {
        background-color: #eee;
      }

      input {
        display: none;
      }

      &.active {
        background-color: #555;
        color: white;
      }
    }


  }

  &__exercises {
    align-self: start;
    flex-grow: 1;

    ul {
      list-style-type: none;
      // padding-left: 15px;
    }

    li {
      cursor: pointer;
      padding: 5px 10px;
      border-radius: 5px;
      line-height: 1;

      &:hover {
        background-color: #555;
        color: white;
      }
    }
  }
}
