.overlay {
  z-index: 99;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: var(--overlay-bg-color);

  display: flex;
  justify-content: center;
  align-items: center;


  &__btn {
    position: absolute;
    top: 0;
    right: 0;

    .icon {
      width: 20px;
      height: 20px;

      fill: var(--text-link-color);
    }
  }
}

.muscles {
  position: relative;

  min-width: 500px;

  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px;
  padding-right: 40px;

  background-color: var(--section-bg-color);

  animation: showList .5s ease 0s 1 forwards;


  &__types {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    margin-right: 10px;

    label {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 5px 10px;
      line-height: 1;

      &:hover {
        background-color: var(--hover-bg-color);
      }

      input {
        display: none;
      }

      &.active {
        background-color: var(--text-link-color);
        color: var(--section-bg-color);
      }
    }


  }

  &__exercises {
    align-self: start;
    flex-grow: 1;

    ul {
      list-style-type: none;
      // padding-left: 15px;
    }

    li {
      cursor: pointer;
      padding: 5px 10px;
      // border-radius: 5px;
      line-height: 1;

      &:hover {
        background-color: var(--text-link-color);
        color: var(--section-bg-color);
      }
    }
  }
}

@keyframes showList {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
