.month {
  width: calc(100% - 300px);

  &__select {
    text-align: center;
    padding: 10px;
  }

  &__daynames {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: minmax(50px, auto);


    padding: 0 5px;
    margin-bottom: 5px;


    div {
      border: 1px solid #eee;
      text-align: center;

      font-size: 30px;
      color: whitesmoke;

      background-image: url('./bg-calendar2.jpg');
      background-image: url('./bg-calendar2.webp');
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: right center;
      background-size: cover;
    }
  }

  &__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: minmax(100px, 1fr);

    padding: 0 5px;


  }
  &__item {
    border: 1px solid #eee;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('./bg-calendar2.jpg');
    background-image: url('./bg-calendar2.webp');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;

    color: whitesmoke;
    transition: transform .3s ease-out;
    transform-origin: right;

    &:hover {
      // transform: scale(1.3);

    }

    a {
      color: palegreen;
      text-decoration: none;
    }
  }

  &__date {
    font-size: 40px;
  }
}

.today {
  // background-color: tomato;
  a {
    color: cornflowerblue;
  }
}
