.info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  list-style-type: none;

  padding: 10px;

  border-left: none;

  background-color: var(--navbar-bg-color);

  &__item {
    display: flex;
    align-items: center;

    font-size: 14px;
    font-weight: 500;
    color: var(--text-link-color);

    padding: 10px;

    border-radius: 5px;



    &:hover {
      // background-color: var(--hover-bg-color);
    }

    .input[type='date'] {
      width: calc(11ch + 10px);

      &::-webkit-calendar-picker-indicator {
        display: none;
      }
    }

    .info__duration {
      min-width: calc(8ch + 10px);
      text-align: center;
      @extend .p-calendar-timeonly, input
    }

    .p-calendar-timeonly {
      margin-inline-start: 10px;
      padding: 0;
    }

    .time-panel {
      background-color: var(--navbar-bg-color);
      color: var(--text-color);
      border: 1px solid var(--overlay-bg-color) !important;
      transform: translateX(-25%);

      .p-link {
        color: var(--text-link-color);

        &:enabled:hover {
          color: var(--text-link-active-color);
        }
      }
    }

    input {
      padding: 5px;

      border-radius: 3px;
      border-color: var(--overlay-bg-color);

      background-color: transparent;
      color: var(--text-link-color);
    }

    .p-inputtext {
      max-width: calc(5ch + 10px);
      cursor: pointer;
      text-align: center;

      &:enabled:hover {
        border-color: var(--overlay-bg-color);
      }

      &:enabled:focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 0.2em var(--hover-bg-color);
        border-color: var(--hover-bg-color);
      }
    }

    input[type=number] {
      width: 50px;
    }
  }
  &__icon {
    margin-right: 10px;
    fill: var(--svg-color);

    & * {
      fill: var(--svg-color);
    }
  }
}
