.info {
  display: flex;
  justify-content: space-around;
  align-items: center;

  list-style-type: none;

  padding: 10px;

  border-left: none;

  background-color: var(--navbar-bg-color);

  &__item {
    display: flex;
    align-items: center;

    font-size: 14px;
    font-weight: 500;

    padding: 10px;

    border-radius: 5px;

    &:hover {
      background-color: var(--hover-bg-color);
    }

    input {
      background-color: transparent;
      color: var(--text-color);
      border: 1px solid var(--overlay-bg-color);

      padding: 2.5px 0 2.5px 5px;

      &:focus {
        outline-offset: -1px;
        outline: 1px solid var(--text-color);
      }
    }

    input[type=number] {
      width: 50px;
    }

    input[type="time"]::-webkit-calendar-picker-indicator {
      background-color: #fff;
      border-radius: 5px;
    }
  }
  &__icon {
    margin-right: 10px;
  }
}
