.info {
  display: flex;
  justify-content: space-around;
  align-items: center;

  list-style-type: none;

  padding: 10px;

  border-left: none;

  background-color: var(--navbar-bg-color);

  &__item {
    display: flex;
    align-items: center;

    font-size: 14px;
    font-weight: 500;
    color: var(--text-link-color);

    padding: 10px;

    border-radius: 5px;

    &:hover {
      // background-color: var(--hover-bg-color);
    }

    .p-calendar-timeonly, .info__duration {
      margin-inline-start: 10px;
      padding: 0;
    }

    .PANEL__NAME {
      background-color: var(--navbar-bg-color);
      color: var(--text-color);
      border: 1px solid var(--overlay-bg-color) !important;
      transform: translateX(-25%);

      .p-link {
        color: var(--text-link-color);

        &:enabled:hover {
          color: var(--text-link-active-color);
        }
      }
    }

    input, .info__duration {
      padding: 5px;

      border-radius: 3px;
      border-color: var(--overlay-bg-color);

      background-color: transparent;
      color: var(--text-link-color);
    }

    .p-inputtext {
      max-width: calc(5ch + 10px);
      cursor: pointer;

      &:enabled:hover {
        border-color: var(--overlay-bg-color);
      }

      &:enabled:focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 0.2em var(--hover-bg-color);
        border-color: var(--hover-bg-color);
      }
    }

    input[type=number] {
      width: 50px;
    }

    input[type="time"]::-webkit-calendar-picker-indicator {
      background-color: #fff;
      border-radius: 5px;
    }
  }
  &__icon {
    margin-right: 10px;
    fill: var(--svg-color);
  }
}
