.login {
  display: flex;
  align-items: center;

  padding: 10px;

  // background-color: tomato;

  &__title {
    margin-right: 10px;
    transform: translateY(-6px);
  }

  &__form {
    display: flex;
  }

  .email__label, .password__label {
    font-size: 11px;

  }

  .email__input, .password__input {
  }

  .email__input {
    padding: 5px 10px;
    margin-right: 10px;
  }

  .password__input {
    max-width: 190px;
    padding: {
      top: 5px;
      right: 30px;
      bottom: 5px;
      left: 10px;
    };
  }

  &__submit {
    align-self: center;
    padding: 5px 10px;

    border: 1px solid var(--overlay-bg-color);
    border-radius: var(--input-border-radius);

    transform: translateY(-2px);
  }

  .reset-password {
    background: none;
    color: var(--text-color);
    border: none;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 5px;
    font-size: 10px;
  }
}
