.signup {
  // display: flex;
  align-items: center;
  justify-content: baseline;
  max-width: 500px;

  padding: 10px;
  margin: auto;

  // border: 1px solid #000;
  // background-color: deepskyblue;

  &__title {
    margin-bottom: 30px;
    text-align: center;
  }

  &__group {
    margin: 0 0 20px 0;
    position: relative;
  }

  .email__input {
    width: calc(100% - 20px);
  }
  .email__input,
  .password__input {
    transition: none;
  }

  &__form {
  }

  &__submit {
    border: 1px solid var(--overlay-bg-color);
  }
}
